body{
    color: rgb(58, 100, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

main{
    background-color: rgb(224, 211, 195);
}

a,
a:link{
    color: rgb(97, 202, 97)
}

a:visited{
    color: rgb(50, 169, 209)
}
a:hover{
    color: rgb(255,255,0);
}
a:active{
    color: rgb(0, 0, 0);
}

figcaption{
    font-weight: bold;
}

footer{
    font-weight: 100;
}