body{
    color: rgb(30, 144, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:link{
    color: rgb(97, 202, 97)
}

figcaption{
    font-weight: bold;
}

footer{
    font-weight: 100;
}