body{
    color: rgb(58, 100, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin: 10px;
}

header,
nav,
main,
footer{
background-color: rgb(209, 235, 255);
}

a,
a:link{
    color: rgb(97, 202, 97)
}

a:visited{
    color: rgb(50, 169, 209)
}
a:hover{
    color: rgb(255,255,0);
}
a:active{
    color: rgb(0, 0, 0);
}

figcaption{
    font-weight: bold;
}

footer{
    font-weight: 100;
}